*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
a{
  text-decoration:none;
}
header{
  width:100%;
  height:mm;
}
.header-logo{
  float:left;
  line-height:20mm;
  margin-left:10mm;
}
.header-menu a{
  float:left;
  line-height:20mm;
  padding:0 10mm;
  margin-left:10mm;
  color:black;
}
.clear-left{
  clear:left;
}
.top{
  background-image:url(https://github.com/yuuki2311/yuuki2311.github.io/blob/master/IMG_2948.jpeg?raw=true);
  background-size:cover;
  width:100%;
  height:150mm;
  color:white;
}
.top h2{
  line-height:20mm;
  margin-left:10mm;
}
.mid{
width:100%;
height:mm;
}
.mid h2{
  line-height:20mm;
  margin-left:10mm;
}
.mid h3{
  line-height:20mm;
  margin-left:10mm;
  margin-right:10mm;
}
.image{
  float:left;
  width:33%;
  padding:10mm;
}
.image img{
  width:100%;
  border:solid;
}
.last{
  width:100%;
  height:mm;
}
.last h2{
  line-height:20mm;
  margin-left:10mm;
}
.last h3{
  line-height:20mm;
  margin-left:10mm;
  margin-right:10mm;
}
.last li{
  margin-left:20mm;
}
.icon{
  display:inline-block;
  border:solid;
  margin-top:3mm;
  padding:5mm;
  border-radius:10px;
  background-color:black;
  color:white;
}
.sns{
  float:right;
  margin-right:20mm;
}
.clear-right{
  clear:right;
}
footer{
  width:100%;
  height:mm;
  background-color:black;
  color:white;
  opacity:0.8;
}
footer h2{
  line-height:20mm;
  margin-left:10mm;
}
