*{
  box-sizing:border-box;
}
.container{
  background-color:black;
  color:white;
  text-align:center;
}
.header-left h1{
  float:left;
}
.header-left p{
  float:left;
  margin-top:40px;
}
.header-right a{
  float:right;
  color:white;
  margin:40px 40px;
}
.background-img{
  height:500px;
}
.img{
  float:left;
  width:25%;
  border:solid;
  height:350px;
}
.clear{
  clear:left;
}
